.formc{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 73vh;
    background-color: #e5e5f7;
    background-image: radial-gradient(circle at center center, #3dbf75, #e5e5f7), repeating-radial-gradient(circle at center center, #3dbf75, #3dbf75, 10px, transparent 20px, transparent 10px);
    background-blend-mode: multiply;
}

.form{
    background-color: rgba(240, 248, 255, 0.86);
    width: fit-content;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 12px 12px 10px -5px rgb(0 0 0 / 60%);
}

:global(.dark) .formc{
    background-color: #e5e5f7;
    background-image: radial-gradient(circle at center center, #444cf7, #e5e5f7), repeating-radial-gradient(circle at center center, #444cf7, #444cf7, 10px, transparent 20px, transparent 10px);
    background-blend-mode: multiply;
}