.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    margin-left: 10px;
}

.lista {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    margin: 0 5vw;
    justify-content: space-between;
    gap: 30px;
}

.cargando {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    flex: auto;
    font-size: 30px;
}

.main{
    padding-bottom: 50px;
    background-color: #89aeff;
}

:global(.dark) .main{
    background-color: #383d74;
}

:global(.dark) .titulo{
    color: #dadada;
}