.nav {
display: flex;
justify-content: space-around;
align-items: center;
background-color: #64c8e9;
}

.link {
    color: #050c55;
}

.logo{
width: 70px;
height: 70px;
}

.lista {
    display: flex;
    flex-wrap: wrap;
    width: 30vw;
    justify-content: space-between;
}

.boton {
    width:50px;
    height:20px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 20px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
}

.boton:after {
content: "";
width:18px;
height: 18px;
position: absolute;
background: linear-gradient(180deg,#ffcc89,#d8860b);
border-radius: 18px;
box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

.botonInput {
    width: 0;
    height: 0;
    visibility: hidden;
}

.botonInput:checked + .boton {
    background: #242424;
}

.botonInput:checked + .boton:after {
    left: 31px;
    background: linear-gradient(180deg,#777,#3a3a3a);
    transition: 0.3s;
}

.boton, .boton:after {
    transition: 0.3s
}

.boton:active:after{ 
width: 15px;
}

.boton svg {
    position: absolute;
    width: 12px;
    height: 12px;
    z-index: 100;
}

.boton svg.sol {
    left: 2px;
    top: 4px;
    fill: #fff;
}

.boton svg.luna {
    left: 36px;
    top: 4px;
    fill: #7e7e7e;
}

.botonInput:checked + label svg.sol {
    fill: #7e7e7e;
}

.botonInput:checked + label svg.luna {
    fill: #fff;
}

:global(.dark) .nav{
    background-color: #050c55;
}

:global(.dark) .link{
    color: #64c8e9;
}